<%- include('../partials/header') %>

<div class="static-page">
  <h1>404 - Page Not Found</h1>
  <p>Oops! The page you're looking for doesn't exist.</p>
  <a href="/posts" class="btn">Back to Posts</a>
</div>
<%- include('../partials/footer') %>
Í