<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create New Post</title>
    <link rel="stylesheet" href="/style.css">

  </head>
  <body>
    <div class="form-container">
      <h1>Create New Post</h1>

      <form action="/posts" method="POST">
        <input
          type="text"
          name="username"
          minlength="3"
          maxlength="20"
          pattern="[a-zA-Z0-9_]+"
          required
        />

        <textarea
          id="content"
          name="content"
          placeholder="Write your post"
          required
        ></textarea>

        <!-- Add a loader element inside the form -->
        <div id="loader" style="display: none">Loading...</div>

        <button type="submit">Submit</button>
      </form>
    </div>

    <!-- Footer -->
    <footer>
      <div class="footer-container">
        <div class="footer-links">
          <a href="/about">About</a>
          <a href="/help">Help</a>
          <a href="/privacy">Privacy</a>
          <a href="/terms">Terms</a>
        </div>
        <div class="footer-social">
          <a
            href="https://github.com/justtcallmejayy"
            target="_blank"
            class="social-icon"
          >
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg"
              alt="Github"
            />
          </a>
          <a
            href="https://x.com/JayyWebDevX"
            target="_blank"
            class="social-icon"
          >
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/c/ce/X_logo_2023.svg"
              alt="Twitter"
            />
          </a>
          <a
            href="https://www.linkedin.com/in/jaychoksi18/"
            target="_blank"
            class="social-icon"
          >
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/8/81/LinkedIn_icon.svg"
              alt="LinkedIn"
            />
          </a>
        </div>
        <p class="footer-text">© 2024 Quora Clone. All rights reserved.</p>
      </div>
    </footer>

    <script>
      document.querySelector("form").addEventListener("submit", function () {
        document.getElementById("loader").style.display = "block";
      });
    </script>
  </body>
</html>
